<div class="form">

  <h2>Neuer Kunde</h2>

  <app-form-row>

    <label>Vorname
      <input type="text" [(ngModel)]="service.newFirst">
    </label>

    <label>Nachname
      <input type="text" [(ngModel)]="service.newLast">
    </label>

  </app-form-row>

  <app-form-row>

    <label>Straße
      <input type="text" [(ngModel)]="service.newStreet">
    </label>

    <label>Hausnummer
      <input type="text" [(ngModel)]="service.newNumber">
    </label>

  </app-form-row>

  <app-form-row>

    <label>Postleitzahl
      <input type="text" [(ngModel)]="service.newPostcode">
    </label>

    <label>Ort
      <input type="text" [(ngModel)]="service.newLocation">
    </label>

  </app-form-row>

  <app-form-row>

    <label>Einkommen
      <input type="text" [(ngModel)]="service.newSalary">
    </label>

  </app-form-row>

  <app-form-row>

    <app-button (click)="service.saveClient()">Kunden speichern</app-button>
    <app-button (click)="service.view = 'nothing'">Abbrechen</app-button>

  </app-form-row>

</div>
