<div class="form">

  <h2>Neuer Kunde</h2>

  <app-form-row>

    <label [class.warning]="service.showWarning === true">Vorname
      <input type="text" [(ngModel)]="service.newFirst">
    </label>

    <label [class.warning]="service.showWarning === true">Nachname
      <input type="text" [(ngModel)]="service.newLast">
    </label>

  </app-form-row>

  <app-form-row>

    <div *ngIf="service.showWarning === true"
         [class.warnung]="service.showWarning === true"
         class="warning-box">
      *Es muss mindestens ein Name gesetzt sein!
    </div>

  </app-form-row>

  <app-form-row>

    <label>Straße
      <input type="text" [(ngModel)]="service.newStreet">
    </label>

    <label>Hausnummer
      <input type="text" [(ngModel)]="service.newNumber">
    </label>

  </app-form-row>

  <app-form-row>

    <label>Postleitzahl
      <input type="text" [(ngModel)]="service.newPostcode">
    </label>

    <label>Ort
      <input type="text" [(ngModel)]="service.newLocation">
    </label>

  </app-form-row>

  <app-form-row>

    <label>Einkommen
      <input type="text" [(ngModel)]="service.newSalary">
    </label>

  </app-form-row>

  <app-form-row>

    <app-button (click)="service.saveClient()">Kunden speichern</app-button>
    <app-button (click)="service.cancelNewClient()">Abbrechen</app-button>

  </app-form-row>

</div>
