<h1>Kundenverwaltung</h1>

<div class="form">

  <div class="left">

    <p *ngFor="let client of service.clients"
       (click)="service.editClient(client)"
       [class.active]="service.indexEditClient === service.clients.indexOf(client)">
      {{client.first}} {{client.last}}
    </p>

    <app-button (click)="service.view = 'new';
                service.indexEditClient = null"
                class="new-client"
                [class.disabled]="service.view === 'new'">
      Neuer Kunde
    </app-button>

  </div>


  <div class="right">

    <app-new *ngIf="service.view === 'new'"></app-new>
    <app-edit *ngIf="service.view === 'edit'"></app-edit>

  </div>

</div>
