:host {
  font-family: 'Roboto', sans-serif;
  margin: 15px 5px;
  outline: none;
  background-color: #d3efff;
  padding: 5px 15px;
  border: 1px solid #218db1;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}
