.form {
  display: flex;
  flex-direction: column;
  padding: 15px;

  h2 {
    font-weight: normal;
  }

  label {
    display: flex;
    flex-direction: column;
    margin-right: 10px;

    input {
      width: 250px;
      padding: 5px;
    }
  }
}
